<div id="<%= dom_id user %>">
  <p style="font-family: Arial">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p style="font-family: Arial">
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p style="font-family: Arial">
    <strong>Created:</strong>
    <%= user.created_at %>
  </p>

</div>
