<div id="<%= dom_id deal %>" , style="background-color: #BBBBBB">
  <p>
    <strong class="ms-2" style="font-family: Arial">Amount:</strong>
    <%= deal.amount %>
  </p>

  <p>
    <strong class="ms-2" style="font-family: Arial">Currency:</strong>
    <%= Currency.find(deal.currency_id).symbol %>
  </p>

  <p>
    <strong class="ms-2" style="font-family: Arial">Date:</strong>
    <%= deal.created_at %>
  </p>

</div>
